        <!DOCTYPE html>
<html>
<head>
        <title>Get Employee Info</title>
</head>
<center>
        <font color="grey" size="5" style="font-family: avenir">

                <h1 style="color: DodgerBlue">Employee Info</h1>

                <body bgcolor="lightblue">

                        <form action="/fetchdata" autocomplete="on" method="POST">

                                <h2 style="color: DarkCyan">Enter Employee ID</h2>

                                Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>


                                <button type="submit" style="background: DarkCyan; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><>

                                <button type="submit" formaction="http://3.134.115.108:80/" style="background: white    ; height: 45px; width: 200px; color: black; size:>

                        </form>

                </body>
        </font>
</center>
</html>
